.item-add-form {
  margin-top: 10px;
}

.item-add-form input {
  margin-right: 5px;
}

.item-add-form .btn {
  color: var(--black);
  border-color: var(--black);
  background-color: transparent;
  letter-spacing: 0.5px;
}
.item-add-form .btn:disabled {
  background-color: #aaa;
  color: #fff;
  border-color: transparent;
}
.item-add-form .btn:hover {
  background-color: var(--black);
  color: #fff;
}

.item-add-form .btn:disabled:hover {
  background-color: #aaa;
}
