.todo-app {
  margin: 1rem auto 0 auto;
  min-width: 320px;
}

.top-panel {
  margin: 1rem 0px;
}

.todo-app p {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  color: var(--third);
  font-weight: bold;
}
